# **Question 81**
Please write a program to print the running time of execution of "1+1" for 100 times.

**Hints: Use timeit() function to measure the running time.**

# **Solution:**

In [ ]:
from timeit import Timer
t = Timer("for i in range(100):1+1")
print(t.timeit())

# **Question 82**
Please write a program to shuffle and print the list [3,6,7,8].

**Hints: Use shuffle() function to shuffle a list.**

# **Solution:**

In [ ]:
from random import shuffle
li = [3,6,7,8]
shuffle(li)
print(li)

# **Question 83**
Please write a program to generate all sentences where subject is in ["I", "You"] and verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

**Hints: Use list[index] notation to get a element from a list.**

# **Solution:**

In [ ]:
subjects=["I", "You"]
verbs=["Play", "Love"]
objects=["Hockey","Football"]
for i in range(len(subjects)):
    for j in range(len(verbs)):
        for k in range(len(objects)):
            sentence = "%s %s %s." % (subjects[i], verbs[j], objects[k])
            print(sentence)

I Play Hockey.
I Play Football.
I Love Hockey.
I Love Football.
You Play Hockey.
You Play Football.
You Love Hockey.
You Love Football.

# **Question 84**
Please write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24].

**Hints: Use list comprehension to delete a bunch of element from a list.**

# **Solution:**

In [ ]:
li = [5,6,77,45,22,12,24]
li = [x for x in li if x%2!=0]
print(li)

[5, 77, 45]

# **Question 85**
By using list comprehension, please write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

**Hints: Use list comprehension to delete a bunch of element from a list.**

# **Soltuion:**

In [ ]:
li = [12,24,35,70,88,120,155]
li = [x for x in li if x%5!=0 and x%7!=0]
print(li)

[12, 24, 88]

# **Question 86**
By using list comprehension, please write a program to print the list after removing the 0th, 2nd, 4th,6th numbers in [12,24,35,70,88,120,155].

**Hints: Use list comprehension to delete a bunch of element from a list. Use enumerate() to get (index, value) tuple.**

# **Solution:**

In [ ]:
li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i%2!=0]
print(li)

[24, 70, 120]

# **Question 87**
By using list comprehension, please write a program to generate a 3,5,8  3D array whose each element is 0.

**Hints: Use list comprehension to make an array.**

# **Solution:**

In [ ]:
array = [[ [0 for col in range(8)] for col in range(5)] for row in range(3)]
print(array)

[[[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]], [[0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0]]]

# **Question 88**
By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

**Hints: Use list comprehension to delete a bunch of element from a list. Use enumerate() to get (index, value) tuple.**

# **Solution:**

In [ ]:
li = [12,24,35,70,88,120,155]
li = [x for (i,x) in enumerate(li) if i not in (0,4,5)]
print(li)

[24, 35, 70, 155]

# **Question 89**
By using list comprehension, please write a program to print the list after removing the value 24 in [12,24,35,24,88,120,155].

**Hints: Use list's remove method to delete a value.**

# **Solution:**

In [ ]:
li = [12,24,35,24,88,120,155]
li = [x for x in li if x!=24]
print(li)

[12, 35, 88, 120, 155]

# **Question 90**
With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155], write a program to make a list whose elements are intersection of the above given lists.

**Hints: Use set() and "&=" to do set intersection operation.**

# **Solution:**

In [ ]:
set1=set([1,3,6,78,35,55])
set2=set([12,24,35,24,88,120,155])
set1 &= set2
li=list(set1)
print(li)

[35]